@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
  font-family: "Inter", sans-serif;
}
:root {
  --bg-color: #2f3640;
  --text-color: #888;
  --padding-sm: 10px;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: var(--padding-sm);
  overflow: hidden;
}
.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: var(--padding-sm);
}
.search-icon{
  padding: var(--padding-sm);
  height: 30px;
  cursor: pointer;
}
.img{
  margin-top: 5px;
}
.image{
  text-align: center;
  height: 150px;
  margin-bottom: var(--padding-sm);
}
.image img{
  width: 120px;
  height: 120px;
}
.temp,
.location,
.country{
  margin-top: 5px;
  font-size: 35px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}
.temp{
  font-weight: 500;
}
.location{
  color: #ffbc00;
  font-weight: 400;
  font-size: 40px;
}
.country{
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-sm);
  margin-top: var(--padding-sm);
  text-align: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sm);
}
.cord div span{
  font-size: 14px;
}
.humidity-percent,
.wind-percent,
.cord div span:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}
.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.element{
  text-align: center;
}
.text{
  font-size: 15px;
  color: var(--text-color);
}
.copyright{
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
}
.copyright span{
  color: #333;
}
.city-not-found,
.loading-message,
.error-message{
  margin-top: var(--padding-sm);
  color: var(--text-color);
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.weather-skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}
